.welcome-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #0f172a;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 0px;
  overflow: hidden;
}

.welcome-text {
  padding: 20px;
}

/* TEXT */
.content {
  text-align: center;
  z-index: 2;
  padding: 20px;
}
.content h1 {
  font-size: 3.2rem; /* base */
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 12px;
}

.content h2 {
  font-size: 1.6rem;
  color: #38bdf8;
  font-weight: 500;
}

.content p {
  font-size: 1.1rem;
  opacity: 0.85;
  margin-top: 10px;
  line-height: 1.6;
}

.robot {
  border: #fefefe solid 2px;
  width: 100%;
  height: 60vh;      
  max-width: 600px;
  min-height: 350px;
}

/* DESKTOP */
@media (min-width: 768px) {
  .welcome-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .content {
    text-align: left;
  }

  .robot {
    height: 70vh;
    max-width: 780px;
  }
}
.content h1 {
  animation: glow 2.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgba(56,189,248,0.3);
  }
  to {
    text-shadow: 0 0 30px rgba(56,189,248,0.8);
  }
}
